

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (SideNavToggle)="sidenav.toggle()"></app-toolbar>
        <app-navtabs></app-navtabs>

        <main>
            

        </main>

    </mat-sidenav-content>
</mat-sidenav-container>